
#bannerPhoto{
    background: url("../img/roseNoelleBanner.png");
    max-width: 100%;
/*    min-height: 600px;*/
    height:500px;
/*    margin:auto 0;*/
    text-align:center;
    background-repeat:no-repeat;
    margin-top: 30px;
    background-position-y:top;
    margin-top:100px;


/*    background-size: cover;*/
    margin-top: 100px;
}

header{
    background:#2C3E50;
    text-align:center;

}

/*.navbar{
    opacity:0.4;
}*/


/*navbar-default navbar-fixed-top navbar-custom affix-top*/

/*.navbar-custom{
    background:#2C3E50;
    opacity: 0.4;

}*/