
#bannerPhoto{
    background: url("../img/roseNoelleBanner.png");
    max-width: 100%;
/*    min-height: 600px;*/
    height:500px;
/*    margin:auto 0;*/
    text-align:center;
    background-repeat:no-repeat;
    margin-top: 30px;
    background-position-y:top;
    margin-top:100px;
    margin-top: 100px;
}

header{
    background:#2C3E50;
    text-align:center;

}

.left{
    float:left;
    margin-left:-80px;
}


/*.grow{
    color: white;
    padding-top: 150px;
    font-size: 50px;
    text-shadow: -1px 2px 12px #000;


}*/

.gardenOfYourMind{
    padding-top: 220px;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}

a{
    text-transform: capitalize;
}

.fontSize{
    font-size: 15px;
}

#roseKoenings{
    font-size: 25px;

}

.navbar-custom .navbar-nav li a:hover {
    color:#4d6077;
}


.roseHr{
    z-index: 1;
    position: inherit;
}

.intro-text{
    height: 300px;
}

.AboutSpace{
    height:150px;
}

.hrContainer {
    height: 60px;
    position: relative;
}



.hrStyles{
    background-color: #fff;
    position:absolute;
    height:4px;
    width:25%;
    top:50%;
    margin:0 auto;
    left: 37.5%;
}

.roseLogo{
    background-color: #2C3E50;

}

.hrBlueStyles{
    background-color: #2C3E50;
    position:absolute;
    height:4px;
    width:25%;
    top:50%;
    margin:0 auto;
    left: 37.5%;
    z-index: 0 !important;
}

.roseLogoWhite{
    background-color: #fff;

}

.roseLogoAbout{
    background-color: #1FA4B6;
}

section.success {
    background-color: #1FA4B6;
}


